@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-works{

  background-color:rgb(186, 125, 44) ;
}
.on-works{
  width:134px;
  height:220px;
  font-family: Metropolis;
  text-align: center;
}